parameters:
    level: 8
    paths:
        - src/
        - public/index.php
        - config.php
        - autoload.php
    checkUninitializedProperties: true
    polluteScopeWithAlwaysIterableForeach: true
    ignoreErrors: []
